/*designed for index.html*/
header{
color: #606060;
}
img{
  display:none;
}
header{
  background-color: #A9A9A9;
}
h1{
  text-align: center;
  color:white;
  font-size: 35px;
  text-transform: uppercase;
}
a
{
  color:black;
  background-color: #C0C0C0;
  Font-weight:600;
}
section{
background-color: #666666;
}
.right{
  background-color: #808080;
  Font-weight:600;
}
h2{
  color: #000080;
  font-size: 25px;
  text-transform: uppercase;
}